<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'articles/base.html' %}

{% block title %}{{article.title}}{%endblock%}

{% block body %}

    <h1>{{article.title}}</h1>
    <p>{{article.text}}</p>
    <ul>
        {% for author in article.authors.all %}
            <li><a href="{% url 'articles:author_detail' author.id %}">{{ author.first_name }} {{ author.last_name }}</a></li>
        {% endfor %}
    </ul>
    <p><strong>Likes: {{ article.like_count }}</strong></p>
    <form action ="{% url 'articles:like' article.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="article_id" value="{{ article.id }}"/>
        <input type = "submit" value="Like"/>
    </form>

{% endblock %}
</body>
</html>